@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




*{
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif;  */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Ubuntu', sans-serif;  */
}




.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }
  
  @keyframes shadowPulse {
    33% {
      background: #dfdfdf;
      box-shadow: -24px 0 blue, 24px 0 #dfdfdf;
    }
    66% {
      background: blue;
      box-shadow: -24px 0 #dfdfdf, 24px 0 #dfdfdf;
    }
    100% {
      background: #dfdfdf;
      box-shadow: -24px 0 #dfdfdf, 24px 0 blue;
    }
  }
  


  